body{
    /* background-color: #008481; */
   background-color:lightcoral;
}
header{
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    margin-top: 40px;
    text-align: left;
    font-size: 24px;
}
#bills{
  height:400px;
  width:500px;
}
.image{
    text-align: center;
}
button:hover{
    color:blue;
    cursor: pointer;
}
button{
    color: black;
}
.row h2{
    text-align: center;
    padding: 15px;
}
.row{
    display: inline;
}
.container-fluid {
  padding: 60px 50px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.advise{
  font-size: larger;
}